@font-face {
    font-family: D-DIN;
    font-weight: bold;
    src: url("/fonts/D-DIN-Bold.otf") format("opentype");
}
@font-face {
    font-family: D-DIN;
    font-weight: normal;
    src: url("/fonts/D-DIN.otf") format("opentype");
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px blue;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: D-DIN, "Cal Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    animation: glow 2s infinite alternate;
}

#RightView{
    box-shadow: -4px 0 0 white;
    /*
    This makes the vertical separator, but one side is slightly smaller than the other
    */
}

#LeftView, #RightView{
    width: 50vw;
    height: 85vh;
    position: absolute;
    overflow: hidden;
    outline: 0px solid red;
    outline-offset: -2px;
    padding: 20px;
    background-color: rgb(58, 58, 58);
    color: white;
}
#LeftView{
    left: 0;
}
#RightView{
    right: 0;
}

#LeftView canvas, #RightView canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#LeftView div, #RightView div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#LeftView div *, #RightView div *{
    width: fit-content;
    z-index: 1;
}


form{
    display: flex;
    flex-direction: column;
    width: 10vw;
}

h1, h2, h3, h4, h5, h6, #clock, label{
    font-family: D-DIN;
    font-weight: bold;
}

.error{
    font-size: large;
    font-family: D-DIN;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 8px;
    padding: 8px;
    z-index: 100;
}





footer{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 15vh;
    bottom: 0;
    outline: 0px solid purple;
    outline-offset: -2px;
}

#LeftData{
    display: flex;
    flex-direction: row;
    width: 40vw;
}
#engineLayout{
    width: 15vh;
    height: 15vh;
}
#SHData{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#SHPropLevelPlace{
    display: flex;
    flex-direction: row;
}

#SHPropLevel[value]{
    -webkit-appearance:none;
    -moz-appearance:none;        
    appearance: none;

    margin-left: 8px;
    width: 100px;
    align-self: center;
    height: 8px;
    border-radius: 10em;
    background-color: lightgray;
    outline: 2px solid black;
    outline-offset: -2px;
}
#SHPropLevel[value]::-moz-progress-bar{
    background-color: black;
}


#MissionData{
    text-wrap: nowrap;
    margin-top: 3vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#RightData{
    margin: 1vh;
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 8px;
}
#RightDataTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#RightDataTop h3{
    width: 200px;
    text-wrap: nowrap;
}

#RightDataBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/* Temporary, only for interface development */
#MasterOffline,
#TowerOffline,
#SHOffline{
    display: none;
}